qwen_vl_utils
modelscope
accelerate>=0.26.0
optimum
auto-gptq
funasr
opencv-python
pydub
pyaudio
webrtcvad

ffmpeg-python
pytorch_lightning
einops
LangSegment
cn2an
pypinyin
jieba_fast
pyopenjtalk
wordsegment
g2p_en
utils