qwen_vl_utils
modelscope
accelerate>=0.26.0
optimum
auto-gptq
opencv-python

funasr
pydub
pydantic
pyaudio
webrtcvad
pygame
ffmpeg
pytorch_lightning
matplotlib
einops
LangSegment
cn2an
pypinyin
jieba_fast
wordsegment
pyopenjtalk
g2p_en